* {
  all: unset;
  font-family: sans-serif;
  transition: 0.1s;
}

#window {
  background-color: rgba(26, 27, 38, 0.75);
  border-radius: 8px;
  border: 1px solid rgba(24, 25, 38, 0.9);
  padding: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

#input {
  background-color: rgba(36, 40, 59, 0.4);
  border-radius: 4px;
  margin: 4px;
  padding: 8px 12px;
  font-size: 14px;
  color: #c0caf5;
  box-shadow: none;
  border: 1px solid rgba(24, 25, 38, 0.9);
  border-bottom: 2px solid rgba(24, 25, 38, 0.9);
}

#input:focus {
  border-bottom: 2px solid rgba(122, 162, 247, 0.8);
}

#main {
  background-color: rgb(26, 27, 38);
  border-radius: 4px;
  margin-top: 4px;
  border: 1px solid rgba(24, 25, 38, 0.9);
  min-height: 0;
  padding: 0;
}

#entry {
  border-radius: 4px;
  padding: 6px 8px;
  margin: 4px;
  background-color: rgb(36, 40, 59);
  border: 1px solid rgba(24, 25, 38, 0.9);
}

#entry:selected {
  background-color: rgb(65, 72, 104);
  border-left: 2px solid #7aa2f7;
}

#entry-text {
  color: #c0caf5;
  font-size: 13px;
}

#entry-text:selected {
  color: #c0caf5;
}

/* Hide all icons */
#entry-icon, image {
  opacity: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
  min-height: 0;
}