Config(
  // Position/size settings
  x: Fraction(0.5),  // Centered horizontally
  y: Fraction(0.3),  // Placed near the top third

  // Width of the search bar
  width: Fraction(0.3),

  // Minimal height
  height: Absolute(0),
  
  // Hide icons
  hide_icons: true,
  ignore_exclusive_zones: false,
  layer: Overlay,
  hide_plugin_info: true,
  close_on_click: true,
  show_results_immediately: false,

  // Number of entries to show
  max_entries: Some(5),

  // Default plugins
  plugins: [
    "libapplications.so",
    "libshell.so",
  ],
)